@page
@model ResumeModel
@{
Layout = "~/Pages/Shared/_Layout_two.cshtml";
}
@{
    ViewData["Title"] = "Home page";
}
@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ready to build my resume.</p>
</div> *@
<div class="outer_container">
     <section class="first_section">
        <div class="top_group">
        </div>
        <div class="top_second_group">
            <div class="top_left_group">
                <h1>@Model.user.firstName @Model.user.lastName</h1>
            </div>
            <div class="top_right_group">
                <div class="top_right_group_inner">
                    <div class="top_right_group_inner_first">
                        <div class="phonenumber_top_group">
                                <p  width="16px" height="16px" >@Model.user.phoneNumber</p>
                        </div>
                        <div class="svg_icon_top_group">
                            <svg xmlns="http://www.w3.org/2000/svg" color="white" width="14px" height="14px" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
    </svg>         
                        </div>
                    </div>
                    <div class="top_right_group_inner_second">
                            <div class="phonenumber_top_group">
                                <p class ="email" width="16px" height="16px">@Model.user.emailAddress</p>
                        </div>
                        <div class="svg_icon_top_group">
                            <svg xmlns="http://www.w3.org/2000/svg" color="white" width="14" height="14" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
    </svg>
                        </div>
                    </div>
                    <div class="top_right_group_inner_third">
                            <div class="phonenumber_top_group">
                                <p  width="16px" height="16px" >@Model.user.city, @Model.user.province</p>
                        </div>
                        <div class="svg_icon_top_group">
                            <svg xmlns="http://www.w3.org/2000/svg" color = "white" width="14" height="14" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
    </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider">
    
        </div>
    </section>
    <section class="second_section">
        <div class="second_group_first_inner">
        <h5>Overview</h5>
        <p>2+ years of industrial experience in fields of Software Development core areas such as Java, .Net, Python. Proficient in data
    structure, algorithms, object-oriented programming (OOP), object-oriented design (OOD), SQL, Microsoft Management SQL
    Server (MMSS), Visual Studio, Self-motivated with problem solving skills</p>
        </div>
        <div class="second_group_second_inner">
            <h5>Key Accomplishments:</h5>
            <ul>
            <li><p>Created 300 store procedures using SQL, Microsoft SQL Server within two months due to Company urgency to
    speed up data processing in the database. This led to acquisition of a new client and increased the speed of data
    retrieval by 50% through store procedures</p></li>
                <li><p>Created a dashboard using Google Maps API, HTML, CSS, JAVASCRIPT that would display historiographical pictures
    of Montreal in their respective locations on Google Maps. This was as part of a 4-person team at an overnight</p></li>
            </ul>
        </div>
        <div class="divider_2">
        </div>
    </section>
    <section class="third_section">
        <div class="third_section_outer">
            <div class="third_section_first_group">
                <div class="left_first">
                    <h5>Education</h5>
                    <p>McGill University
    Degree in Software Engineering
    (2019)</p>
                    <p>Awarded a $300000 scholarship
    from MasterCard Foundations
    Scholarship due to academic
    achievement</p>
                </div>
                <div class="left_second">
                    <h5>Technical Skills</h5>
                    <ul class="technical">
                        <li>Java</li>
                        <li>.Net</li>
                        <li>Python</li>
                        <li>Html/CSS</li>
                        <li>Windows</li>
                        <li>Linux</li>
                        <li>Unix</li>
                        <li>Microsoft Management server</li>
                        <li>SQL Server/MySQL</li>
                        <li>XML</li>
                        <li>SOAP</li>
                        <li>REST</li>
                        <li>Web Application</li>
                    </ul>
                </div>
            </div>
            <div class="width_divider">

            </div>
            <div class="third_section_second_group">
                <h4>Professional Experience</h4>
        
                <div class="third_section_second_group_inner_first">
                    <h5>Software Engineer</h5>
                    <p><b>Softek Computer Services</b> | Mississauga, ON | AUG 2021 – Present</p>
                    <ul>
            <li><p>Resolves daily system bugs in Visual Studio when running Desktop applications
    that have been built using .Net.</p></li>
                <li><p>Resolves old code to employ the use of object-oriented programming (OOP) and
    new .NET features.</p></li>
                    <li><p>Uses visual studio extensions such as Sonar Lint to improve code security and
    code efficiency.</p></li>
                <li><p>Implements new functionality based on client’s request using C# and Visual
    Studio.</p></li>
    <li><p>Adapts to high volumes of work, strict deadlines, diverse workforce to increase
    efficiency level within the team.</p></li>
                <li><p>Builds store procedures to retrieve client data from database using SQL and
    Microsoft Management SQL Server (MMSS).</p></li>
            </ul>
                </div>
                <div class="third_section_second_group_inner_second">
                    <h5>Web Developer</h5>
                    <p><b>WayBetterWeb</b> | Toronto, ON | AUG 2019 – FEB 2020</p>
                    <ul>
            <li><p>Expanded development efforts to include related platforms and protocols such as
    SOAP, REST, and database technologies like MySQL.</p></li>
                <li><p>Identified and eliminated performance bottlenecks by determining root causes
    and re-mediating problematic code.</p></li>
    <li><p>Created databases, data entry systems, web applications using Shopify Ecommerce
    Platform developer tools.</p></li>
            </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="last_section">
        <div class="last_div">
            
        </div>
    </section> 
</div>

